@model DMD.Models.Task

            <td>
                @Html.DisplayFor(modelItem => @Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.ParentTask.ID)
            </td>
            <td>
                <div class="btn-group">

                <form asp-action="EditTask" id="@Model.ID"
                data-ajax="true"
                data-ajax-update="#DivDetailView"
                data-ajax-success="ShowDetailForm()">
                <button type="submit" class="btn btn-sm btn-primary ml-1">
                    Edit
                </button>
                </form>

                <form asp-action="ViewTask" id="@Model.ID"
                data-ajax="true"
                data-ajax-update="#DivDetailView"
                data-ajax-success="ShowDetailForm()">
                <button type="submit" class="btn btn-sm btn-primary ml-1">
                    Details
                </button>
                </form>

                <form asp-action="DeleteTask" asp-route-id="@Model.ID"
                    data-ajax="true" data-ajax-success="deleteItem(this)">
                    <button type="submit" class="btn btn-sm btn-danger ml-1"
                            onclick="return confirm('Удалить задачу @Model.Name');">
                        Delete
                    </button>
                </form>
                </div>
            </td>
